Repository malanjari/mapleLand-Server, pull requests merged in 2025-07, with the labels that each got.

#53 자리 업데이트 기능 수정
  backend/src/main/java/org/mapleland/maplelanbackserver/service/MapService.java
  backend/src/main/java/org/mapleland/maplelanbackserver/table/Jari.java
Labels: fix, back-end

#54 release: main -> deploy (자리 업데이트 기능 수정)
  backend/src/main/java/org/mapleland/maplelanbackserver/service/MapService.java
  backend/src/main/java/org/mapleland/maplelanbackserver/table/Jari.java
Labels: back-end, release

#57 release: main -> deploy (더미데이터 주석처리)
  backend/src/main/java/org/mapleland/maplelanbackserver/init/DummyDataInitializer.java
Labels: back-end, release

#66 fix: 자리 등록 후 jariList 동기화 안 되던 문제 해결
  frontend/.env
  frontend/src/feature/popularJari/ui/PopularJariGrid.tsx
  frontend/src/feature/register/hooks/useJariRegisterForm.ts
Labels: fix, front-end

#70 fix: 쓸데없는 console.log 제거 및 시간표시 버그날수 있는 부분 보완
  frontend/src/feature/delete/api/deleteJari.ts
  frontend/src/feature/popularJari/ui/PopularJariGrid.tsx
  frontend/src/feature/trade/ui/TradeCardHeader.tsx
Labels: fix, front-end

#97 release: main -> deploy (입력값 검증 예외 메시지 수정)
  backend/src/main/java/org/mapleland/maplelanbackserver/dto/Map/JariCreatedRequest.java
  backend/src/main/java/org/mapleland/maplelanbackserver/handler/GlobalExceptionHandler.java
Labels: back-end, release

#103 feat: 초성입력시에도 검색 자동완성 되는 기능 구현
  frontend/src/entity/map/hooks/useAllMaps.ts
  frontend/src/shared/lib/getInitials.ts
  frontend/src/shared/lib/isSubsequence.ts
  frontend/src/shared/ui/search/hooks/useSearchSuggestions.ts
Labels: feat, front-end

#106 refactor: popularjari api 호출 빈도 줄이기
  frontend/src/entity/jari/hooks/usePopularJari.ts
  frontend/src/feature/popularJari/ui/PopularJariGrid.tsx
Labels: refactor, front-end

#114 refactor : Link가 있어야 할부분에 button이 있는것 수정
  frontend/src/feature/jari/ui/JariMiniMapCard.tsx
Labels: refactor, front-end

#120 refactor : 가격 차트의 숫자 단위를 한국식 화폐 표기(만, 억 등)로 변경하여 가독성 개선
  frontend/src/feature/price/ui/PriceChart.tsx
Labels: chore, refactor, front-end

#123 fix: 검색어와 무관한 맵이 추천되는 문제 수정
  frontend/src/shared/lib/getInitials.ts
  frontend/src/shared/lib/isSubsequence.ts
  frontend/src/shared/ui/search/hooks/useSearchSuggestions.ts
Labels: fix, front-end

#126 fix: submitreport부분 err 제대로 못 받아오는 부분 수정
  frontend/src/feature/report/api/submitReport.ts
Labels: fix, front-end

#130 release: main -> deploy (모든 자리 조회 API 추가)
  backend/src/main/java/org/mapleland/maplelanbackserver/controller/admincontroller/AdminController.java
  backend/src/main/java/org/mapleland/maplelanbackserver/dto/Map/JariResponse.java
  backend/src/main/java/org/mapleland/maplelanbackserver/dto/response/JariListResponse.java
  backend/src/main/java/org/mapleland/maplelanbackserver/service/MapService.java
Labels: back-end, release

#134 feat: 어드민페이지 자리표시 기능 추가
  frontend/src/entity/jari/api/getAdminJari.ts
  frontend/src/entity/jari/api/getJariList.ts
  frontend/src/feature/trade/hooks/useTradeCard.ts
  frontend/src/feature/trade/ui/TradeCard.tsx
  frontend/src/feature/trade/ui/TradeCardHeader.tsx
  frontend/src/page/admin/Dashboard.tsx
Labels: feat, front-end

#145 feat: IQR 계산을 수정시간 기준으로 하도록 변경
  backend/src/main/java/org/mapleland/maplelanbackserver/service/MapService.java
  backend/src/main/java/org/mapleland/maplelanbackserver/table/Jari.java
Labels: feat, back-end

#148 refactor: 오토컴플리트api 리무브 및 그 대신 useallmaps씀
  frontend/src/feature/jari/ui/JariMiniMapCard.tsx
  frontend/src/feature/register/hooks/useJariRegisterForm.ts
  frontend/src/feature/trade/hooks/useJariDetailData.ts
  frontend/src/page/jari/Detail.tsx
Labels: refactor, front-end

#149 release : mainㅡ>deploy(autocomplete api 삭제 및 리팩토링)
  frontend/src/feature/jari/ui/JariMiniMapCard.tsx
  frontend/src/feature/register/hooks/useJariRegisterForm.ts
  frontend/src/feature/trade/hooks/useJariDetailData.ts
  frontend/src/page/jari/Detail.tsx
Labels: refactor, front-end

#155 feat: 모든 맵 정보를 조회하면서 아이템 드랍정보도 함께 포함도록 구현
  backend/build.gradle
  backend/src/main/java/org/mapleland/maplelanbackserver/MapleLanBackServerApplication.java
  backend/src/main/java/org/mapleland/maplelanbackserver/cache/CacheConfig.java
  backend/src/main/java/org/mapleland/maplelanbackserver/controller/location/MapController.java
  backend/src/main/java/org/mapleland/maplelanbackserver/dto/Map/MapInfo.java
  backend/src/main/java/org/mapleland/maplelanbackserver/dto/Map/MapInfoListResponse.java
  backend/src/main/java/org/mapleland/maplelanbackserver/dto/Map/MapName.java
  backend/src/main/java/org/mapleland/maplelanbackserver/init/CacheInitializer.java
  backend/src/main/java/org/mapleland/maplelanbackserver/init/monster/AquariumMonsterDataInitializer.java
  backend/src/main/java/org/mapleland/maplelanbackserver/init/monster/ElnathMonsterDataInitializer.java
  backend/src/main/java/org/mapleland/maplelanbackserver/init/monster/LeafreMonsterDataInitializer.java
  backend/src/main/java/org/mapleland/maplelanbackserver/init/monster/LudibriumMonsterDataInitializer.java
  backend/src/main/java/org/mapleland/maplelanbackserver/init/monster/OrbisMonsterDataInitializer.java
  backend/src/main/java/org/mapleland/maplelanbackserver/init/monster/VictoryMonsterDataInitializer.java
  backend/src/main/java/org/mapleland/maplelanbackserver/repository/MonsterDropItemRepository.java
  backend/src/main/java/org/mapleland/maplelanbackserver/service/MapCacheService.java
  backend/src/main/java/org/mapleland/maplelanbackserver/service/MapService.java
Labels: perf, feat, back-end

#158 release: main -> deploy
  backend/build.gradle
  backend/src/main/java/org/mapleland/maplelanbackserver/MapleLanBackServerApplication.java
  backend/src/main/java/org/mapleland/maplelanbackserver/cache/CacheConfig.java
  backend/src/main/java/org/mapleland/maplelanbackserver/controller/location/MapController.java
  backend/src/main/java/org/mapleland/maplelanbackserver/dto/Map/MapInfo.java
  backend/src/main/java/org/mapleland/maplelanbackserver/dto/Map/MapInfoListResponse.java
  backend/src/main/java/org/mapleland/maplelanbackserver/dto/Map/MapName.java
  backend/src/main/java/org/mapleland/maplelanbackserver/dto/Map/MapResponse.java
  backend/src/main/java/org/mapleland/maplelanbackserver/init/CacheInitializer.java
  backend/src/main/java/org/mapleland/maplelanbackserver/init/monster/AquariumMonsterDataInitializer.java
  backend/src/main/java/org/mapleland/maplelanbackserver/init/monster/ElnathMonsterDataInitializer.java
  backend/src/main/java/org/mapleland/maplelanbackserver/init/monster/LeafreMonsterDataInitializer.java
  backend/src/main/java/org/mapleland/maplelanbackserver/init/monster/LudibriumMonsterDataInitializer.java
  backend/src/main/java/org/mapleland/maplelanbackserver/init/monster/OrbisMonsterDataInitializer.java
  backend/src/main/java/org/mapleland/maplelanbackserver/init/monster/VictoryMonsterDataInitializer.java
  backend/src/main/java/org/mapleland/maplelanbackserver/repository/MonsterDropItemRepository.java
  backend/src/main/java/org/mapleland/maplelanbackserver/service/MapCacheService.java
  backend/src/main/java/org/mapleland/maplelanbackserver/service/MapService.java
Labels: back-end, release

#163 refactor: allusers페이지에서 utc시간으로 나오는거 한국시간으로 변경
  frontend/src/page/admin/AllUsers.tsx
  frontend/src/page/jari/Detail.tsx
  frontend/src/shared/ui/search/hooks/useSearchSuggestions.ts
Labels: chore, fix, refactor, front-end

#165 refactor: UTCㅡ>KT로 안바꾼 부분들 싹다 바꿈
  frontend/src/feature/ban/ui/UserBannedCard.tsx
  frontend/src/feature/user/ui/UserStatsChart.tsx
  frontend/src/page/admin/AllUsers.tsx
  frontend/src/page/admin/ReportDetail.tsx
Labels: refactor, front-end

#167 NoticeBanner를 공지사항 안내에서 이벤트 공지로 변경
  frontend/src/app/router/router.tsx
  frontend/src/feature/ban/ui/UserBannedCard.tsx
  frontend/src/feature/notice/ui/NoticeBanner.tsx
  frontend/src/feature/trade/ui/CompletedTradeBox.tsx
  frontend/src/feature/user/ui/UserWelcomeBox.tsx
  frontend/src/page/Event.tsx
  frontend/src/page/Home.tsx
  frontend/src/shared/ui/layouts/footer/Footer.tsx
Labels: chore, front-end

#171 release: main -> deploy (관리자 추가 및 제약에 걸리지 않도록 함)
  backend/src/main/java/org/mapleland/maplelanbackserver/filter/AdminCheckFilter.java
  backend/src/main/java/org/mapleland/maplelanbackserver/service/MapService.java
Labels: back-end, release

#173 feat: 실시간 거래 현황 SSE 구현
  backend/src/main/java/org/mapleland/maplelanbackserver/config/SecurityConfiguration.java
  backend/src/main/java/org/mapleland/maplelanbackserver/controller/SseController.java
  backend/src/main/java/org/mapleland/maplelanbackserver/dto/jari/JariCompletedEvent.java
  backend/src/main/java/org/mapleland/maplelanbackserver/service/JariSseBroadCaster.java
  backend/src/main/java/org/mapleland/maplelanbackserver/service/MapService.java
Labels: feat, back-end

#174 release: main -> deploy (실시간 거래 현황 제공 SSE)
  backend/src/main/java/org/mapleland/maplelanbackserver/config/SecurityConfiguration.java
  backend/src/main/java/org/mapleland/maplelanbackserver/controller/SseController.java
  backend/src/main/java/org/mapleland/maplelanbackserver/dto/jari/JariCompletedEvent.java
  backend/src/main/java/org/mapleland/maplelanbackserver/service/JariSseBroadCaster.java
  backend/src/main/java/org/mapleland/maplelanbackserver/service/MapService.java
Labels: feat, back-end

#183 기존 /sse/jari SSE 방식이 제대로 작동하지 않아, 거래 완료 시 메인 페이지에 최신 거래 글이 즉시 반영되지 않는 문제를 해결했습니다.
  frontend/src/entity/trade/store/useRecentTradeStore.ts
  frontend/src/feature/jari/ui/EditJariPopover.tsx
  frontend/src/feature/trade/hooks/useCompletedTrades.ts
  frontend/src/feature/trade/ui/CompletedTradeBox.tsx
  frontend/src/feature/trade/ui/TradeCard.tsx
Labels: fix, refactor, front-end

#187 feat: 모든 맵 정보 조회 캐시 갱신 API 구현
  backend/src/main/java/org/mapleland/maplelanbackserver/controller/admincontroller/AdminController.java
  backend/src/main/java/org/mapleland/maplelanbackserver/service/MapCacheService.java
Labels: feat, back-end

#189 feat: 최근 거래 완료 자리 조회 API 구현
  backend/src/main/java/org/mapleland/maplelanbackserver/controller/location/MapController.java
  backend/src/main/java/org/mapleland/maplelanbackserver/dto/Map/JariResponse.java
  backend/src/main/java/org/mapleland/maplelanbackserver/repository/JariRepository.java
  backend/src/main/java/org/mapleland/maplelanbackserver/service/MapService.java
Labels: feat, back-end

#199 release: main -> deploy (hotfix: 최근 완료 거래 글 조회 3개 -> 10개 변경)
  backend/src/main/java/org/mapleland/maplelanbackserver/service/MapService.java
Labels: back-end, release
